*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwzw
*.pyzwzwzwzw
*.pyzwzwzwzwzw

*.pth
*.pt
*.pkl
*.npz
*.np
*.npy
*.p

*.mp4
*.wav
*.avi
*.mov
*.flv
*.wmv
*.mkv
*.gif
*.png
*.jpg
*.jpeg

*.log

*.vscode
*.ipynb
*.ipynb_checkpoints

InsTaG/


*.csv
*.json
*.yaml
*.yml
*.xml
*.html
*.css
*.js
*.jsx
*.ts
*.tsx

*.lms

*.mat
*.ninja*
*.o

*.egg-info

*.egg-info/*

_pycache_/*

*.egg-info

*.egg-info/*

build/*
dist/*
__pycache__/*
*.egg-info/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

*.so

data/*
model/*